.nav .dropdown{
    color:#fff !important;
    font-weight:bold;
}
    .nav .dropdown img{
        margin-right:6px;
        vertical-align: middle;
    }

#find_friends{
    display: block;
    margin-bottom: 10px;
}

#navigation{
    padding:8px 0;
}

#timeline{
    margin:0;
}

  #timeline li{
      padding:15px 0px;
      border-top:1px solid #eeeeee;
  }
  #timeline li .avatar{
      float:left;
      margin: 0 10px 0;
  }

  #timeline .notification{
    line-height: 50px;
  }



/*
body{background:#F0F1F5;}
.well,#timeline{background:white;}
#timeline li{padding-left:12px;}
*/