.friend{
    width: 225px;
    height: 100px;
    float: left;
    padding: 5px 5px;
    margin: 6px 3px;
}

.friend:hover{
    background:#ECEFF5;
}

    .friend div{
        margin-right:5px;
        width:100px;
        float:left;
        height:100px;
        display:block;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .friend img{
        margin-left:5px;
    }

.friend_data{
    margin-left:4px;
}