body {
    padding-top: 60px;
    padding-bottom: 40px;
}

ul{
    margin:0;
}

li{
    list-style:none;
}

hr{
    margin: 10px 0;
}

.singleyet{
    letter-spacing: -1px;
    font-family: 'Rochester', cursive;
    font-size: 19px;
}

.nav-header{
    padding: 3px 0 !important;
}

.brand{
    font-family: 'Rochester', cursive;
    letter-spacing: -1px;
    font-size: 22px !important;
}

    .brand img{
        vertical-align: baseline;
    }

.nav-list > li > a {
    padding: 2px 15px !important;
}

.hidden{
    display:none;
}

.nav .dropdown{
    font-weight: normal !important;
    color:#fff !important;
}
    .nav .dropdown img{
        margin-right:6px;
        vertical-align: middle;
    }

footer{
    font-size: 12px;
}