body {
    padding-top: 60px;
    padding-bottom: 40px;
}

ul{
    margin:0;
}

li{
    list-style:none;
}

.well{
    background:#fff;
    border:none;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.nav-header{
    padding: 3px 0 !important;
}

.nav-list > li > a {
    padding: 2px 15px !important;
}

.hidden{
    display:none;
}