<F3:include href="templates/header_navigation.html" />

    <div class="modal" id="myModal">
        <div class="modal-header">
            <h3>Email Opt-In</h3>
        </div>
        <div class="modal-body">
            <p>
                <em>Single Yet?</em> aims to notify you as soon as one of your 
                followers have changed their relationship status. Please choose 
                whether you would like to be notified by email of these changes.
            </p>
            <form action="settings/email/save/" method="POST">
                <label class="checkbox">
                    <input name="opt_in" type="checkbox" checked />
                    Checking this will opt you in to receiving emails
                </label>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-primary">Save changes</a>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <F3:include href="templates/sidebar.html" />

            <div class="span6">
                <h1>News Feed</h1>
                <ul id="timeline">

                </ul>
            </div>
      </div>