      <hr>

      <footer>
        <p>Single Yet? &copy; 2012</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/js/global.js"></script>
    <script src="/js/bootstrap-dropdown.js"></script>
    <script src="/js/bootstrap-collapse.js"></script>
    <script src="/js/bootstrap-button.js"></script>
    

    <F3:repeat group="{{@extra_js}}" value="{{@src}}">
    <script src="/js/{{@src}}"></script>
    </F3:repeat>

  </body>
</html>