<F3:include href="templates/header_navigation.html" />

<div class="container">
    <div class="row">
        <F3:include href="templates/sidebar.html" />

        <div class="span10">
            <h1>Friends</h1>
                <ul>
                    <F3:repeat group="{{@friends}}" value="{{@data}}" counter="{{@ctr}}">
                    <li style="width:225px; height:150px; float:left;<F3:check if="{{@ctr>24}}"><F3:true>display:none;</F3:true></F3:check>">
                        <div style= "margin-right:5px; width:100px; float:left; height:100px; display:block;background:url('https://graph.facebook.com/{{@data.id}}/picture?type=large') no-repeat center center transparent;"></div>
                        <span>{{@data.name}}</span><br />
                        <button class="btn btn-success">Add</button>
                    </li>
                    </F3:repeat>
                </ul>
        </div>
    </div>

