<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#"><img src="/img/logo_sm.png" /> Single Yet?</a>
                
                    <div class="pull-right">
                        <a href="<?php echo F3::get('login_url'); ?>" class="btn btn-primary">Sign in with Facebook</a>
                    </div>
            </div>
        </div>
    </div>

    <div>
        <header class="jumbotron masthead hero-unit">
            <div class="container">
                <div class="inner">
                    <h1>Single Yet?</h1>
                    <p>The easiest way to follow a person's love life.</p>
                </div>
                <p class="download-info">
                    <a href="<?php echo F3::get('login_url'); ?>" class="btn btn-primary btn-large">Sign in with Facebook</a>
                </p>
            </div>
        </header>

    <div class="container">
        <div class="row">
            <div class="span4">
                <h2>Sign in</h2>
                <p>Sign in to <span class="singleyet">SingleYet?</span> with your Facebook account.</p>
                <img src="/img/screenshots/1.jpg" class="img-polaroid push-down" />
            </div>

            <div class="span4">
                <h2>Follow Friends</h2>
                <p>Follow friends that interest you.</p>

                <img src="/img/screenshots/2.jpg" class="img-polaroid push-down" />
            </div>


            <div class="span4">
                <h2>Get Emailed</h2>
                <p>Receive <em>immediate</em> emails when your friends change their relationship statuses!</p>

                <img src="/img/screenshots/3.jpg" class="img-polaroid" />
            </div>
        </div>