<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#"><img src="/img/logo_sm.png" /> Single Yet?</a>
                
                    <div class="pull-right">
                        <a href="<?php echo F3::get('login_url'); ?>" class="btn btn-primary">Sign in with Facebook</a>
                    </div>
            </div>
        </div>
    </div>

    <div>
        <header class="jumbotron masthead hero-unit">
            <div class="container">
                <div class="inner">
                    <h1>Single Yet?</h1>
                    <p>The easiest way to follow a persons love life.</p>
                </div>
                <p class="download-info">
                    <a href="<?php echo F3::get('login_url'); ?>" class="btn btn-primary btn-large">Sign in with Facebook</a>
                </p>
            </div>
        </header>

    <div class="container">
        <div class="row">
            <div class="span4">
                <h2>Sign in</h2>
                <p>Sign in with Facebook to register for <span class="singleyet">SingleYet?</span></p>
            </div>

            <div class="span4">
                <h2>Follow Friends</h2>
                <p>After signing in, select friends to follow and recieve notifications for when their relationship status changes.</p>
            </div>


            <div class="span4">
                <h2>Get Emailed</h2>
                <p>Recieve notifications, not only through the <span class="singleyet">SingleYet?</span> dashboard, but <em>immediate</em> emails as well!</p>
            </div>
        </div>