<div class="span4">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    <i class="icon-align-left"></i> 
                    Statistics
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    You are following {{@followed_count}} <F3:check if="{{@followed_count}}>1"><F3:true>people</F3:true><F3:false><F3:check if="{{@followed_count}}==0"><F3:true>people</F3:true><F3:false>person</F3:false></F3:check></F3:false></F3:check>
                </td>
            </tr>
        </tbody>
    </table>
</div>