<div class="span2">
    <a id="find_friends" data-toggle="modal" href="/friends" class="btn btn-primary btn-large">Find Friends</a>
    <div id="navigation" class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header">Navigation</li>
            <li<F3:check if="{{@page=='dashboard'}}"><F3:true> class="active"</F3:true></F3:check>>
                <a href="/">
                    <i class="icon-list icon-white"></i>
                    News Feed
                </a>
            </li>
            <li<F3:check if="{{@page=='notifications'}}"><F3:true> class="active"</F3:true></F3:check>>
                <a href="/notifications">
                    <i class="icon-list icon-white"></i>
                    Notifications
                </a>
            </li>
        </ul>
    </div>
</div>