<div class="span2">
    <a href="/friends/" style="margin-top:15px;" class="btn btn-primary btn-block btn-large">Find Friends</a>

    <div id="navigation" class="sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header">Navigation</li>

            <li<F3:check if="{{@page=='notifications'}}"><F3:true> class="active"</F3:true></F3:check>>
                <a href="/">
                    <i class="icon-exclamation-sign<F3:check if="{{@page=='notifications'}}"><F3:true> icon-white</F3:true></F3:check>"></i>
                    Notifications
                </a>
            </li>
            <li<F3:check if="{{@page=='newsfeed'}}"><F3:true> class="active"</F3:true></F3:check>>
                <a href="/newsfeed/">
                    <i class="icon-list<F3:check if="{{@page=='dashboard'}}"><F3:true> icon-white</F3:true></F3:check>"></i>
                    News Feed
                </a>
            </li>
            <li<F3:check if="{{@page=='friends'}}"><F3:true> class="active"</F3:true></F3:check>>
                <a href="/friends/">
                    <i class="icon-user<F3:check if="{{@page=='dashboard'}}"><F3:true> icon-white</F3:true></F3:check>"></i>
                    Find Friends
                </a>
            </li>
        </ul>
    </div>
</div>