<div class="modal" id="findFriendsModal" style="display:none;">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3>Follow some people!</h3>
    </div>
    <div class="modal-body">
        Looks like you're not following anyone yet. You can locate the "Find Friends" action in the navigation to the left or you can start out by pressing the button below!
    </div>
    <div class="modal-footer">
        <a href="/friends/" class="btn btn-primary close-modal">Find Friends</a>
    </div>
</div>